// Override Bootstrap variables here (defaults from bootstrap-sass v3.3.1.0):

// When true, asset path helpers are used, otherwise the regular CSS `url()` is used.
// When there no function is defined, `fn('')` is parsed as string that equals the right hand side
// NB: in Sass 3.3 there is a native function: function-exists(twbs-font-path)
// $bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")'))

//
// Variables
// --------------------------------------------------
$logo:"../images/across-logo.svg" !default;
$logo-white:"../images/across-logo-white.svg" !default;

$grid-gutter-width: 30px  !default;
//fe-colors
$fe-blue: #002c41 !default;
$fe-yellow: #FFCE01 !default;

// Grays
$gray-darker: #222223 !default;
$gray-dark: #333333 !default;
$gray: #555555 !default;
$gray-light: #999999 !default;
$gray-lighter: #eeeeee !default;


// Brand Colors


$brand-primary: lighten($fe-blue,20%) !default;

$brand-success: #27a327 !default;
$brand-warning: #FF9203 !default;
$brand-danger: #dd000c !default;
$brand-info: #42abdc !default;
$brand-offwhite: #f4f4f4 !default;

// Scaffolding
$body-bg: $brand-offwhite !default;
$text-color:  $gray-darker  !default;
$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-small-vertical: 2px !default;
$padding-small-horizontal: 10px !default;

$padding-xs-vertical:       1px  !default;
$padding-xs-horizontal:     5px  !default;

$line-height-large:         1.33  !default;
$line-height-small:         1.5  !default;


$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;

$line-height-large: 1.33 !default;
$line-height-small: 1.5 !default;

$component-active-bg: $fe-blue !default;

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

// Typography
$brand-font-dir: "../fonts"  !default;
$font-family-sans-serif:  "Oxygen", sans-serif !default;
$font-family-serif: PT Serif, serif !default;
$font-family-monospace: Monaco !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 14px !default;


/// 5/4scale
$font-size-large: ceil($font-size-base * 1.25) !default;
$font-size-small: ceil($font-size-base * 0.85) !default;
$font-size-h1: floor(($font-size-base * 2.44)) !default;
$font-size-h2: floor(($font-size-base * 1.95)) !default;
$font-size-h3: floor(($font-size-base * 1.58)) !default;
$font-size-h4: (($font-size-base * 1.25)) !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: floor(($font-size-base * 0.85)) !default;

$line-height-base: 1.5  !default;
$line-height-computed: floor($font-size-base * $line-height-base) !default;
$headings-font-family:   'Oxygen', Arial, sans-serif !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.1 !default;
$headings-color: darken($brand-primary,18%)  !default;
$headings-color: $fe-blue !default;


// Buttons
$btn-font-weight: normal !default;
$btn-default-color: $brand-primary !default;
$btn-default-bg: #F9F9F9 !default;
$btn-default-border: #DDD !default;
$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: darken($btn-primary-bg, 2%) !default;
$btn-success-color: #fff !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;
$btn-warning-color: #fff !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;
$btn-danger-color: #fff !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;
$btn-info-color: #fff !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;
$btn-link-disabled-color: $gray-light !default;


// Dropdowns
$dropdown-bg: #fff !default;
$dropdown-border: rgba(0,0,0,.15) !default;
$dropdown-divider-bg: #e5e5e5 !default;
$dropdown-link-active-color: #fff !default;
$dropdown-link-active-bg: $component-active-bg !default;
$dropdown-link-color: $gray-dark !default;
$dropdown-link-hover-color: #fff !default;
$dropdown-link-hover-bg: $dropdown-link-active-bg !default;
$dropdown-link-disabled-color: $gray-light !default;
$dropdown-header-color: $gray-light !default;
$dropdown-caret-color: #000 !default;


// Forms
$input-bg: #fff !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
$input-border: #e9e9e9 !default;
$input-border-radius: $border-radius-base !default;
$input-color-placeholder: $gray-light !default;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large: (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small: (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;
$legend-color: $gray-dark !default;
$legend-border-color: #e5e5e5 !default;
$input-group-addon-bg: $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;


// Table
$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 3px !default;
$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 5px !default;
$table-bg: transparent !default;
$table-bg-accent: #ffffff !default;
$table-bg-hover: #f5f5f5 !default;
$table-bg-active: $table-bg-hover !default;
$table-border-color: #ddd !default;


// Navbar
$navbar-height: 50px !default;
$navbar-margin-bottom: $line-height-computed !default;
$navbar-default-color: #777 !default;
$navbar-default-bg: #f8f8f8 !default;
$navbar-default-border: darken($navbar-default-bg, 6.5%) !default;
$navbar-border-radius: $border-radius-base !default;
$navbar-padding-horizontal: floor($grid-gutter-width / 2) !default;
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2) !default;
$navbar-default-link-color: #777 !default;
$navbar-default-link-hover-color: #333 !default;
$navbar-default-link-hover-bg: transparent !default;
$navbar-default-link-active-color:  #555 !default;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:  #ccc !default;
$navbar-default-link-disabled-bg: transparent !default;
$navbar-default-brand-color: $navbar-default-link-color !default;
$navbar-default-brand-hover-color: darken($navbar-default-link-color, 10%) !default;
$navbar-default-brand-hover-bg: transparent !default;
$navbar-default-toggle-hover-bg: #ddd !default;
$navbar-default-toggle-icon-bar-bg: #888 !default;
$navbar-default-toggle-border-color: #ddd !default;
$navbar-inverse-bg: $fe-blue  !default;
$navbar-inverse-link-hover-bg: lighten($fe-blue,4%) !default;
$navbar-inverse-toggle-hover-bg: lighten($fe-blue,4%) !default;
$navbar-inverse-link-active-bg:  lighten($fe-blue,5%) !default;
$navbar-inverse-toggle-border-color : darken($fe-blue,2%) !default;
$navbar-inverse-brand-color:$gray-lighter !default;
// Navs Tabs
$nav-link-padding: 10px 15px !default;
$nav-link-hover-bg: $gray-lighter !default;
$nav-disabled-link-color: $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;
$nav-tabs-border-color: #ddd !default;
$nav-tabs-link-hover-border-color: $gray-lighter !default;
$nav-tabs-active-link-hover-bg: $body-bg !default;
$nav-tabs-active-link-hover-color: $gray !default;
$nav-tabs-active-link-hover-border-color: #ddd !default;
$nav-tabs-justified-link-border-color: #ddd !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;
$nav-pills-border-radius: $border-radius-base !default;
$nav-pills-active-link-hover-bg: $component-active-bg !default;
$nav-pills-active-link-hover-color: #fff !default;


// Jumbotron
$jumbotron-padding: 30px !default;
$jumbotron-color: white !default;
$jumbotron-p-color: $fe-yellow !default;
$jumbotron-bg:  $headings-color !default;
$jumbotron-font-size: ceil(($font-size-base * 1.5)) !default;


// Pagination
$pagination-bg: #fff !default;
$pagination-border: #ddd !default;
$pagination-hover-bg: $gray-lighter !default;
$pagination-hover-color: $link-hover-color !default;
$pagination-hover-border: #ddd !default;
$pagination-active-bg: $brand-primary !default;
$pagination-active-color: #fff !default;
$pagination-active-border: $brand-primary !default;
$pagination-disabled-color: $gray-light !default;
$pagination-disabled-bg: #fff !default;
$pagination-disabled-border: #ddd !default;
$pager-bg: $pagination-bg !default;
$pager-border: $pagination-border !default;
$pager-border-radius: 15px !default;
$pager-hover-bg: $pagination-hover-bg !default;
$pager-active-bg: $pagination-active-bg !default;
$pager-active-color: $pagination-active-color !default;
$pager-bg: $pagination-bg !default;
$pager-disabled-color: $gray-light !default;


// Form States
$state-warning-text: $brand-warning !default;
$state-warning-bg: lighten($brand-warning, 2%) !default;
$state-warning-border: darken($state-warning-bg, 3%) !default;
$state-danger-text: $brand-danger !default;
$state-danger-bg: lighten($brand-danger, 2%) !default;
$state-danger-border: darken($state-danger-bg,  3%) !default;
$state-success-text: $brand-success !default;
$state-success-bg: lighten($brand-success, 2%) !default;
$state-success-border: darken($state-success-bg, 5%) !default;
$state-info-text:$brand-info !default;
$state-info-bg: $brand-info !default;
$state-info-border: darken($brand-info, 7%) !default;


// ToolTip
$tooltip-max-width: 200px !default;
$tooltip-color: #fff !default;
$tooltip-bg: #000 !default;
$tooltip-arrow-width: 5px !default;
$tooltip-arrow-color: $tooltip-bg !default;
$tooltip-opacity: .9 !default;


// Popover
$popover-bg: #fff !default;
$popover-max-width: 276px !default;
$popover-border-color: rgba(0,0,0,.2) !default;
$popover-fallback-border-color: #ccc !default;
$popover-title-bg: darken($popover-bg, 3%) !default;
$popover-arrow-width: 10px !default;
$popover-arrow-color: #fff !default;
$popover-arrow-outer-width: ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color: rgba(0,0,0,.25) !default;
$popover-arrow-outer-fallback-color: #999 !default;


// List Group
$list-group-bg: #fff !default;
$list-group-border: lighten(#ddd,7%) !default;
$list-group-border-radius: $border-radius-base !default;
$list-group-hover-bg: #f5f5f5 !default;
$list-group-active-color: #fff !default;
$list-group-active-bg: rgba($component-active-bg,1) !default;
$list-group-active-border: $list-group-active-bg !default;
$list-group-active-text-color: rgba(white , 0.75) !default;
$list-group-link-color: #555 !default;
$list-group-link-heading-color: #333 !default;


// Sprites
// this produces error
$icon-font-path: '../fonts/'  !default;
$icon-font-name: 'glyphicons-halflings-regular' !default;




//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold  !default;

$alert-success-bg:            #FFFFFF  !default;
$alert-success-text:          darken($state-success-text,12%) !default;
$alert-success-border:        $state-success-border   !default;

$alert-info-bg:               #FFFFFF  !default;
$alert-info-text:              darken($state-info-text,12%)   !default;
$alert-info-border:           $state-info-border  !default;

$alert-warning-bg:            #FFFFFF  !default;
$alert-warning-text:           darken($state-warning-text,12%)  !default;
$alert-warning-border:        $state-warning-border  !default;

$alert-danger-bg:             #FFFFFF  !default;
$alert-danger-text:            darken($state-danger-text,12%)  !default;
$alert-danger-border:         $state-danger-border !default;


//== Panels
//
//##

//$panel-bg:                  lighten($body-bg,5%) !default;
$panel-default-heading-bg:  #fafafa !default;
//$panel-default-text:          lighten($panel-default-heading-bg,41%) !default;

//* Border color for elements within panels
//$panel-footer-bg:           lighten($body-bg,3%)  !default;
//$panel-inner-border:         $panel-footer-bg !default;
//$panel-default-border:       $panel-default-heading-bg  !default;

// $panel-bg:                    #fff
// $panel-body-padding:          15px
// $panel-heading-padding:       10px 15px
// $panel-footer-padding:        $panel-heading-padding
// $panel-border-radius:         $border-radius-base

//* Border color for elements within panels
// $panel-inner-border:          #ddd
// $panel-footer-bg:             #f5f5f5

//$panel-default-text:          darken($panel-default-heading-bg,30%)   !default;
// $panel-default-border:        #ddd
// $panel-default-heading-bg:    #f5f5f5

$panel-primary-text:          $body-bg    !default;
// $panel-primary-border:        $brand-primary
// $panel-primary-heading-bg:    $brand-primary

 $panel-success-text:           $body-bg    !default;
// $panel-success-border:        $state-success-border
// $panel-success-heading-bg:    $state-success-bg

$panel-info-text:            $body-bg  !default;
// $panel-info-border:           $state-info-border
// $panel-info-heading-bg:       $state-info-bg

$panel-warning-text:         $body-bg   !default;
// $panel-warning-border:        $state-warning-border
// $panel-warning-heading-bg:    $state-warning-bg

$panel-danger-text:           $body-bg   !default;
// $panel-danger-border:         $state-danger-border
// $panel-danger-heading-bg:     $state-danger-bg


//== Wells
//
//##

//$well-bg:                     $panel-bg  !default;
//$well-border:                 darken($well-bg, 7%) !default;

//== Breadcrumbs
//
//##

// $breadcrumb-padding-vertical:   8px
// $breadcrumb-padding-horizontal: 15px
//* Breadcrumb background color
$breadcrumb-bg:                 darken($body-bg,2%) !default;
//* Breadcrumb text color
// $breadcrumb-color:              #ccc
//* Text color of current page in the breadcrumb
// $breadcrumb-active-color:       $gray-light
//* Textual separator for between breadcrumb elements
// $breadcrumb-separator:          "/"

//== Carousel
//
//##

// $carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6)

// $carousel-control-color:                      #fff
// $carousel-control-width:                      15%
// $carousel-control-opacity:                    .5
// $carousel-control-font-size:                  20px

// $carousel-indicator-active-bg:                #fff
// $carousel-indicator-border-color:             #fff

// $carousel-caption-color:                      #fff

//== Close
//
//##

// $close-font-weight:           bold
// $close-color:                 #000
// $close-text-shadow:           0 1px 0 #fff

//== Code
//
//##

// $code-color:                  #c7254e
// $code-bg:                     #f9f2f4

// $kbd-color:                   #fff
// $kbd-bg:                      #333

// $pre-bg:                      #f5f5f5
// $pre-color:                   $gray-dark
// $pre-border-color:            #ccc
// $pre-scrollable-max-height:   340px

//== Type
//
//##

//* Horizontal offset for forms and lists.
// $component-offset-horizontal: 180px
//* Text muted color
// $text-muted:                  $gray-light
//* Abbreviations and acronyms border color
// $abbr-border-color:           $gray-light
//* Headings small color
// $headings-small-color:        $gray-light
//* Blockquote small color
// $blockquote-small-color:      $gray-light
//* Blockquote font size
// $blockquote-font-size:        ($font-size-base * 1.25)
//* Blockquote border color
// $blockquote-border-color:     $gray-lighter
//* Page header border color
$page-header-border-color:    $gray-light !default;
//* Width of horizontal description list titles
// $dl-horizontal-offset:        $component-offset-horizontal
//* Horizontal line color.
// $hr-border:                   $gray-lighter


// == extra nice color scheme
//
//##
//$brand-primary: #1a8ea7 !default;
//$headings-color: #15677C !default;
//$navbar-inverse-bg:darken($headings-color,10% ) !default;

